body {
    background-color: #FFF8E5;
    padding: 10px;
}

h1 {
    color: #00A19D;
}

.container {
    display: inline;
}

.container > a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    border: 2px solid #E05D5D;
    border-radius: 25px;
    color: #FFFFFF;
    font-weight: bolder;
    margin-left: 10px;
    background-color: #E05D5D;

}

.container > a:hover {
    border: 2px solid #FFB344;
    background-color: #FFB344;
    color: #000000;
}

hr {
    margin: 10px;
}